openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/search/:
    get:
      tags:
      - searchRoutes
      summary: Расписание рейсов между станциями
      operationId: searchRoutes
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспорта
        required: false
        schema:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
      - name: system
        in: query
        description: система кодирования параметров to и from
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
      - name: show_systems
        in: query
        description: система кодирования для ответа
        required: false
        schema:
          type: string
          enum:
            - yandex
            - esr
      - name: offset
        in: query
        description: сдвиг относительно первого рейса в ответе
        required: false
        schema:
          type: number
      - name: limit
        in: query
        description: ограничение на количество рейсов в ответе
        required: false
        schema:
          type: number
      - name: add_days_mask
        in: query
        description: запрос календаря хождения рейсов
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: признак запроса маршрутов с пересадками
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Routes'
  /v3.0/schedule/:
    get:
      tags:
      - searchSchedule
      summary: Расписание рейсов по станции
      operationId: schedule
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: тип транспорта
        required: false
        schema:
          type: string
          enum:
            - plane
            - train
            - suburban
            - bus
            - water
            - helicopter
      - name: direction
        in: query
        description: направление
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: прибытие или отправление
        required: false
        schema:
          type: string
          enum:
            - arrival
            - departure
      - name: system
        in: query
        description: система кодирования для параметра station
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
      - name: show_systems
        in: query
        description: коды в ответе
        required: false
        schema:
          type: string
          enum:
            - yandex
            - esr
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleStationRoutes'
  /v3.0/thread/:
    get:
      tags:
      - listOfThreads
      summary: Список станций следования
      operationId: getThread
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: идентификатор нитки
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      - name: date
        in: query
        description: дата
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: коды в ответе
        required: false
        schema:
          type: string
          enum:
            - yandex
            - esr
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleThread'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - nearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - carrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: текущая система кодирования
        required: false
        schema:
          type: string
          enum:
            - yandex
            - iata
            - sirena
            - express
            - esr
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOfCarriers'
  /v3.0/stations_list/:
    get:
      tags:
      - stationsList
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
          enum:
            - ru_RU
            - uk_UA
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/ListOfStations'
  /v3.0/copyright/:
    get:
      tags:
      - copyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: ключ
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: формат
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightAnswer'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    CopyrightAnswer:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        logo_vm:
          type: string
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        text:
          type: string
        logo_hm:
          type: string
    ListOfStations:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCode'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    Region:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCode'
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/SingleSettlement'
    SingleSettlement:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCode'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/DetailedStation'
    DetailedStation:
      type: object
      properties:
        title:
          type: string
        codes:
          $ref: '#/components/schemas/StationCode'
        direction:
          type: string
        transport_type:
          type: string
        station_type:
          type: string
    StationCode:
      type: object
      properties:
        esr_code:
          type: string
        yandex_code:
          type: string
    ListOfCarriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
        carrier:
          $ref: '#/components/schemas/Carrier'
    Settlement:
      type: object
      properties:
        distance:
          type: number
        code:
          type: string
        title:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        lat:
          type: number
        lng:
          type: number
        type:
          type: string
    SingleThread:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
        from:
          type: string
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/SingleInterval'
        departure_date:
          type: string
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        vehicle:
          type: string
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        duration:
          type: number
        stop_time:
          type: number
        station:
          $ref: '#/components/schemas/Station'
        terminal:
          type: string
        platform:
          type: string
    SingleInterval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: number
    SingleStationRoutes:
      type: object
      properties:
        date:
          type: string
          format: date
          example: "2017-01-01"
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalScheduleItem'
        schedule_direction:
          $ref: '#/components/schemas/Direction'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Direction'
    ScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
          format: date-time
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          type: string
          format: date-time
        terminal:
          type: string
        platform:
          type: string
    IntervalScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    Routes:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    Search:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    IntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Segment:
      allOf:
        - $ref: '#/components/schemas/IntervalSegment'
        - type: object
          properties:
            arrival:
              type: string
            departure:
              type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    Price:
      type: object
      properties:
        cents:
          type: string
